#memory_game {
	color: #ffff00;
	font-size: 36px;
	text-shadow: 2px 2px;
	text-align: center;
	cursor: default;
}

#new_game {
	color: #ffff00;
	font-size: 36px;
	text-shadow: 2px 2px;
	text-align: center;
	padding-top: 150px;
	cursor: pointer;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	margin-top: 30px;
}

body {
	margin: 50px;
	background-image: url('background.jpg');
}

h2 {
	text-align: center;
	color: white;
}

.row {
	margin: 0px;
	padding: 0px;
	height: 20px;
}

.row .col-md-6 {
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 30px;
}

.row .col-lg-6 {
	margin: 0px;
	padding: 0px;
	float: right;
	font-size: 30px;
}

img {
	margin: 5px;
	width: 40px;
	height: 40px;
}

@media screen and (min-width: 280px) and (max-width: 375px) {
    img {
        width: 40px;
		height: 40px;
    }
}

@media screen and (width: 320px) {
    img {
        width: 30px;
		height: 30px;
    }
}

@media screen and (width: 540px) {
    img {
        width: 70px;
		height: 70px;
    }
}

@media screen and (width: 768px) {
    img {
        width: 100px;
		height: 100px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    img {
        width: 150px;
		height: 150px;
    }
}

@media screen and (width: 1024px) and (height: 600px) {
    img {
        width: 90px;
		height: 90px;
    }
}

@media screen and (width: 1280px) {
    img {
        width: 120px;
		height: 120px;
    }
}

@media screen and (min-width: 1280px) {
    img {
        width: 122px;
		height: 122px;
    }
}
